/* Responsiveness */
@media screen and (max-width: 1024px) {
  #contact .align-right {
    padding-top: 66px;
    padding-left: 0px;
  }
  #contact .align-right,
  #contact .align-left {
    width: 100%;
  }
  /* Double check on your phone */
  #contact .align-right::before {
    position: absolute;
    top: 20px;
    width: 140px;
    height: 1px;
    left: 50%;
    margin-left: -73px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(82,82,82,0.65) 50%, rgba(82,82,82,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(82,82,82,0.65) 50%,rgba(82,82,82,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(82,82,82,0.65) 50%,rgba(82,82,82,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#525252',GradientType=1 ); /* IE6-9 */
  }

  /* Home Screen */


}

/* Smart phones */
@media screen and (max-width: 320px) {
  /* General */
  .prev-arrow,
  .next-arrow {
    display: none !important;
  }

  /* Home Screen */
  #home .start a:not(.resp),
  #home .startu{
    display: none;
  }
  #home .start a.resp {
    display: inline-block;
    margin-top: -25px;
    margin-bottom: 13px;
  }

  #about, #education, #eduwork, #projects, #contact, footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* About section */
  #about .desc,
  #about .dp-img,
  #about #skills {
    width: 100%;
  }
  #about .dp-img {
    margin-right: 0;
    position: relative;
    height: 220px;
  }
  #about .dp-img img {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -106px;
  }
  #about .desc,
  #about #skills {
    padding-left: 20px;
    padding-right: 20px;
  }
  #about #skills {
    margin-bottom: 50px;
  }
  #about .desc {
    text-align: center;
  }

  /* Testimonials section */
  #about .testi .title,
  #about .testi .name,
  #about .testi .pic {
    width: 100%;
  }
  #about .testi .title,
  #about .testi .name {
    text-align: center;
  }
  #about .testi .pic img {
    display: block;
    margin: 0 auto;
  }

  #about #testimonials {
    /* height: 500px; */
  }

  #about .testi .basic,
  #about .testi .rec {
    width: 100%;
  }
  #about .testi .basic {
    margin-bottom: 20px;
  }
  #about .testi .rec {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #about .testi {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* eduwork section */
  #eduwork .eduwork-head.title {
    padding-left: 50px;
    padding-right: 50px;
  }
  #eduwork ul .event:last-child {
    height: auto;
  }
  #eduwork #timeline .event.event-intern img {
    position: initial;
    top: initial;
    right: initial;
    height: 120px;
    width: 120px;
  }
  #eduwork #timeline .event:last-child img {
    height: 140px;
  }
  #eduwork #timeline .details .logo-img {
    margin-top: 25px;
  }
  #eduwork #timeline .event.event-intern .desc,
  #eduwork ul .event .date {
    width: 100%;
  }
  #eduwork ul .event .title,
  #eduwork #timeline .event.event-intern .desc {
    padding-right: 20px;
  }
  #eduwork ul .event .title {
    line-height: 25px;
  }
  #eduwork ul .event .date {
    position: initial;
    padding-left: 0;
    text-align: left;
    margin-bottom: 20px;
  }

  /* Projects page */
  #projects .mac {
    width: 246px;
    height: 194px;
    margin-left: -124px;
    bottom: 693.5px;
  }
  #projects .project img {
    height: 126px;
    margin-bottom: 172px;
  }
  #projects #projects-container {
    width: 227px;
  }
  #projects .slick-dots {
    padding-bottom: 300px;
  }
  #projects #projects-container .project .info .bottom-lnks a:first-child {
    margin-bottom: 7px;
  }
  #projects #projects-container .project .info .txt {

  }


  /* Contact page */
  #contact .align-left,
  #contact .align-right {
    padding-left: 20px;
    padding-right: 20px;
  }
  #contact .align-right .lnks {
    font-size: 17px;
  }
  #contact .align-right .lnks > i {
    font-size: 20px;
  }
  #contact .align-right .lnks button i {
    position: relative;
    display: inline;
    left: initial;
    top: initial;
    text-align: center;
  }
  #contact .align-right .lnks button .txt {
    display: none;
  }
  footer > .lnks:last-child {
    text-align: center;
  }
  footer > .lnks {
    margin-bottom: 60px;
  }

}
