/* Responsiveness */
@media screen and (max-width: 1024px) {
  #contact .align-right {
    padding-top: 66px;
    padding-left: 0px;
  }
  #contact .align-right,
  #contact .align-left {
    width: 100%;
  }
  /* Double check on your phone */
  #contact .align-right::before {
    position: absolute;
    top: 20px;
    width: 140px;
    height: 1px;
    left: 50%;
    margin-left: -73px;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(82,82,82,0.65) 50%, rgba(82,82,82,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(82,82,82,0.65) 50%,rgba(82,82,82,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(82,82,82,0.65) 50%,rgba(82,82,82,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#525252',GradientType=1 ); /* IE6-9 */
  }

  /* Home Screen */


}

/* Smart phones */
@media screen and (max-width: 320px) {
  #about, #education, #eduwork, #projects, #contact, footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* About section */
  #about .desc,
  #about .dp-img,
  #about #skills {
    width: 100%;
  }
  #about .dp-img {
    margin-right: 0;
    position: relative;
    height: 220px;
  }
  #about .dp-img img {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -106px;
  }
  #about .desc,
  #about #skills {
    padding-left: 20px;
    padding-right: 20px;
  }
  #about #skills {
    margin-bottom: 50px;
  }
  #about .desc {
    text-align: center;
  }
}
