html {
  height: 100%;
}
body {
  min-height: 100%;
}
/* clean this up later */
footer {
  margin-bottom: 50px;
  width: 100%;
}
footer > .lnks {
  color: #adadad;
  font-size: 12px;
  width: 100%;
  float: left;
  margin-bottom: 40px;
  margin-top: 80px;
  font-weight: 100;
}
footer > .lnks:last-child {
  text-align: right;
}
footer > .lnks a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
footer > .lnks a:hover {
  text-decoration: underline;
}

body, textarea {
  font-family: 'Fenix', serif !important;
  overflow: auto;
}
* {
  box-sizing: border-box !important;
  outline-width: 0 !important;
}
h1.title {
  font-weight: 100;
  text-align: center;
  font-size: 40px;
}
h1.title::after{
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  /* background-color: black; */
}
#about, #education, #eduwork, #projects, #contact, footer {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 100px;
}
.btn {
  height: 40px;
  font-size: 18px;
  background-color: #7d7d7d;
  color: #FFF;
  border: none;
  font-weight: 100;
  cursor: pointer;
  width: 100%;
}
.btn:hover {
  background-color: #000000;
}

/* Arrows */
.next-arrow, .prev-arrow {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 60px;
  color: #adabab;
}
.next-arrow:hover, .prev-arrow:hover {
  color: #4c4c4c;
}
.prev-arrow {
  left: -60px;
}
.next-arrow {
  right: -60px;
}
