body {
  font-family: 'Fenix', serif;
}
* {
  box-sizing: border-box;
}
h1.title {
  font-weight: 100;
  text-align: center;
  font-size: 40px;
}
h1.title::after{
  content: "";
  display: block;
  background: black;
  height: 1px;
  width: 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
#about, #education, #workexp, #projects, #contact {
  padding-left: 80px;
  padding-right: 80px;
}
