html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
}
/* clean this up later */
footer {
  margin-bottom: 50px;
  width: 100%;
}
.divider {
  display: block;
  height: 1px;
  width: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00000000',GradientType=1 );
}

#jumpup {
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-block;
  width: 45px;
  height: 50px;
  background-color: #7d7d7d;
  margin-right: 30px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 8px;
  z-index: 2;
  opacity: 0;
}
#jumpup:hover {
  background-color: #000000;
}
footer > .lnks {
  color: #adadad;
  font-size: 12px;
  width: 100%;
  float: left;
  margin-bottom: 40px;
  margin-top: 80px;
  font-weight: 100;
}
footer > .lnks:last-child {
  text-align: right;
}
footer > .lnks a {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}
footer > .lnks a:hover {
  text-decoration: underline;
}

body, textarea {
  font-family: 'Fenix', serif !important;
  overflow: hidden;
}
* {
  box-sizing: border-box !important;
  outline-width: 0 !important;
}
h1.title {
  font-weight: 100;
  text-align: center;
  font-size: 40px;
}
h1.title::after{
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(82,82,82,0.65) 50%, rgba(82,82,82,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(82,82,82,0.65) 50%,rgba(82,82,82,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(82,82,82,0.65) 50%,rgba(82,82,82,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#525252',GradientType=1 ); /* IE6-9 */
  /* background-color: black; */
}

/* Loading screen */
#loading {
  background-color: rgb(76,172,255);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  margin-top: -1px;
  display: block;
}
#loading h1 {
  text-align: center;
  left: 50%;
  top: 52%;
}
#loading img {
  left: 50%;
  margin-left: -51px;
  top: 27%;
}
#loading > * {
  position: absolute;
}
section:not(#loading), footer {
   /* display: none; */
}

#home {
  margin-top: -40px;
  background-color: rgb(76,172,255); /* rgba(41, 156, 255, 1); */
  /*
  background-image: url("../img/bg.jpg");
  background-size: cover;
  */
  height: 660px;
}
#about, #education, #eduwork, #projects, #contact, footer {
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 100px;
}
#about {
  margin-top: 60px;
}
.btn {
  height: 40px;
  font-size: 18px;
  background-color: #7d7d7d;
  color: #FFF;
  border: none;
  font-weight: 100;
  cursor: pointer;
  width: 100%;
}
.btn:hover {
  background-color: #000000;
}

/* Arrows */
.next-arrow, .prev-arrow {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 60px;
  color: #adabab;
}
.next-arrow:hover, .prev-arrow:hover {
  color: #4c4c4c;
}
.prev-arrow {
  left: -31px;
}
.next-arrow {
  right: -60px;
}
