body {
    font-family: 'Quicksand', sans-serif;
    background-color: #E34949;
    color: #FFF;
    font-weight: bold;
}
#header {
    height: 100px;
    padding-top: 30px;
}
#home {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    height: 628px !important;
    background-attachment: fixed;
}
#header > div > div {
    text-align: center;
    font-size: 20px;
}
#header .row div .navlink {
    color: #E34949;
    font-size: 20px;
} 
#header .row div .navlink:hover {
    color: blue;
    text-decoration: none;
}
#home {
    height: 650px !important;
}
#introcont {
    margin-right: auto;
    margin-left: auto;
    padding: 100px;
    width: 70%;
}
.circle {
    border-radius: 50%;
    background-color: #FFF;
    color: #E34949;
    height: auto;
    position: relative;
}
#home h1, #work h1, #experience h1, #contact h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#home h1 {
    color: #E34949;
    margin-top: 0px;
    font-weight: bolder;
}
.work h3{
    text-align: center;
}
.work {
    padding: 30px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.work-row {
    margin-bottom: 30px;
}
#contact h3 {
    padding-left: 40px;
}
#contact .container {
    margin-bottom: 50px;
}
#github-logo a, #linkedin-logo a {
    color: #FFF;
}
#linkedin-logo a:hover {
    color: #1C87BD;
}
#github-logo a:hover {
    color: #171515;
}
.logo {
    font-size: 50px;
    text-align: center;
}
footer {
    background-color: #FFF;
    color: #E34949;
    height: 140px;
}
footer h4 {
    text-align: center;
    padding-top: 50px
}
#office {
    font-size: 200px;
}
.job {
    height: 100px;
    font-size: 20px;
    text-align: center;
}
#job-header {
    padding-top: 30px;
    font-size: 30px;
}

/* fix horizontal scrollbar */
.job.row, .col-xs-3, .col-md-3, #home .row, #work .row {
	margin-right: 0;
	margin-left: 0;
}
/* Mobile view styling*/
#mobile-view {
	display: none;
}
@media only screen and (max-width: 750px){
	#mobile-view {
		display: block;
	}
	#computer-view {
		display: none;
	}
	#mobile-view .col-xs-6:last-child {
		margin-bottom: 70px;
	}
}
#mobile-view .job {
	margin-bottom: 50px;
	height: 100%;
}
#mobile-view .fa-arrow-up {
	text-align: center;
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.work-row .col-md-6 {
	margin-bottom: 40px;
}