#about img {
  width: 200px;
  height: 200px;
  border-radius: 180px 180px 180px 180px;
  -moz-border-radius: 180px 180px 180px 180px;
  -webkit-border-radius: 180px 180px 180px 180px;
}
#about .dp-img img {
  float: right;
}
#about .dp-img {
  width: 25%;
  margin-right: 5%;
}
#about .desc,
#about #skills {
  width: 70%;
}
#about .dp-img,
#about .desc {
  float: left;
}
#about #profile {
  position: relative;
  height: 230px;
  margin-bottom: 110px;
}
#about #expertice {
  position: relative;
}
#about #skills {
  display: block;
  height: auto;
  min-height: 20px;
  padding-left: 0;
  float: right;
}
#about #skills li {
  list-style-type: none;
  float: left;
  display: inline-block;
  background-color: #808080;
  color: #FFFFFF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 8px;
  margin-top: 5px;
  font-size: 15px;
  font-style: italic;
}

/* TESTIMONIALS */
#about #testimonials {
  height: auto;
  min-height: 170px;
  position: relative;
}
#about .testi {
  width: 100%;
  position: relative;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}
#about .testi .pic img {
  width: 100px;
  height: 100px;
}
#about .testi .name {
  font-size: 20px;
  margin-top: 15px;
}
#about .testi:focus {
  outline-width: 0;
}
#about .testi .rec,
#about .testi .basic {
  position: relative;
  float: left;
}
#about .testi .basic {
  width: 20%;
}
#about .testi .rec {
  width: 80%;
  color: #8a8a8a;
  font-style: italic;
  line-height: 23px;
  font-size: 15px;
  padding-left: 30px;
}
#about .testi .title,
#about .testi .name,
#about .testi .pic {
  width: 100%;
}
#about .nav {
  margin-top: 15px;
}
#about .nav-dots {
  list-style-type: none;
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 0;
  margin-left: 36%;
}
#about .nav-dots li {
  display: inline-block;
  float: left;
  margin-left: 30px;
  position: relative;
}
