#contact form input,
#contact form textarea,
#contact form button {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
#contact form input {
  font-size: 18px;
  height: 40px;
}
#contact form input,
#contact form textarea {
  padding-left: 10px;
}
#contact form input:focus,
#contact form textarea:focus,
#contact form button:focus {
  border-color: #333333;
  border-width: 1px;
  outline-width: 0;
  padding-left: 10px;
}
#contact form input:focus {
  padding-left: 11px;
}
#contact form textarea {
  height: 300px;
  padding-top: 8px;
  font-family: inherit;
  font-size: 15px;
}
#contact .align-left,
#contact .align-right {
  width: 50%;
  float: left;
  height: 435px;
}
#contact .align-right {
  padding-left: 66px;
  position: relative;
}
#contact .align-right::before {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+50,000000+100&0.65+0,0.65+50,0+100 */
  content: "";
  width: 1px;
  height: 140px;
  display: block;
  position: absolute;
  left: 32px;
  top: 120px;
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.65) 0%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.65) 0%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
#contact .align-right .lnks {
  display: block;
  height: 40px;
  margin-top: 10px;
  font-size: 23px;
}
#contact .align-right .lnks > i {
  margin-right: 30px;
  font-size: 25px;
}
#contact .align-right .lnks a {
  text-decoration: none;
  color: inherit;
}
#contact .align-right .lnks a:hover {
  text-decoration: underline;
}
#contact .align-right .lnks button {
  position: relative;
}
#contact .align-right .lnks button i {
  position: absolute;
  left: 50px;
  top: 11.5px;
}
