#projects {
  position: relative;
}
#projects h1.title {
  margin-bottom: 45px;
}
#projects .mac {
  width: 497px;
  height: 385px;
  position: absolute;
  bottom: 430px;
  left: 50%;
  margin-left: -249px;
  z-index: -1;
}
#projects #projects-inner {
  margin-top: 60px;
  display: inline-block;
}
#projects #projects-container {
  width: 459px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
#projects #projects-container:focus,
#projects #projects-container .slick-track {
  outline-width: 0;
}
#projects .project {
  height: auto;
}
#projects .project img {
  width: 500px;
  height: 250px;
  margin-bottom: 230px;
}
#projects #projects-container ul {
  bottom: 320px;
}

/* Arrows */
#projects #projects-container .next-arrow {
  right: -123px;
}
#projects #projects-container .prev-arrow {
  left: -123px;
}
#projects #projects-container .prev-arrow,
#projects #projects-container .next-arrow {
  top: 136px;
}
#projects #projects-container .project .info {
  color: #808080;
  font-style: italic;
  font-size: 15px;
  line-height: 23px;
}
#projects #projects-container .project .info .bottom-lnks {
  text-align: center;
  margin-bottom: 20px;
}
#projects #projects-container .project .info .bottom-lnks a {
  text-decoration: none;
  margin-right: 25px;
  font-style: normal;
  font-size: 18px;
  display: inline-block;
  color: #383838;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #383838;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#projects #projects-container .project .info .bottom-lnks a:visited {
  color: #383838;
}
#projects #projects-container .project .info .bottom-lnks a:hover {
  background-color: #383838;
  color: #FFFFFF;
}
#projects #projects-container .project .info .txt {
  display: block;
  margin-bottom: 40px;
}
#projects #projects-container .project .info .ability {
  background-color: #808080;
  color: #FFFFFF;
  display: inline-block;
  margin-right: 6px;
  margin-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#projects #projects-container .project .lnk.inactive {
  cursor: not-allowed;
}
#projects .slick-dots {
  padding-bottom: 40px;
}
