#projects {
  position: relative;
}
#projects .mac {
  width: 498px;
  height: 385px;
  position: absolute;
  bottom: -101px;
  left: 50%;
  margin-left: -250px;
  z-index: -1;
}
#projects #projects-container {
  width: 459px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
#projects .project {
  height: auto;
}
#projects .project img {
  width: 500px;
  height: 250px;
}
