#projects {
  position: relative;
}
#projects h1.title {
  margin-bottom: 45px;
}
#projects .mac {
  width: 497px;
  height: 385px;
  position: absolute;
  bottom: 159px;
  left: 50%;
  margin-left: -249px;
  z-index: -1;
}
#projects #projects-container {
  width: 459px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
#projects #projects-container:focus,
#projects #projects-container .slick-track {
  outline-width: 0;
}
#projects .project {
  height: auto;
}
#projects .project img {
  width: 500px;
  height: 250px;
  margin-bottom: 230px;
}
#projects #projects-container ul {
  bottom: 40px;
}

/* Arrows */
#projects #projects-container .next-arrow {
  right: -123px;
}
#projects #projects-container .prev-arrow {
  left: -123px;
}
#projects #projects-container .prev-arrow,
#projects #projects-container .next-arrow {
  top: 136px;
}
#projects #projects-container .project .info {
  color: #808080;
  font-style: italic;
  font-size: 15px;
  line-height: 23px;
}
#projects .slick-dots {
  padding-bottom: 40px;
}
