#eduwork > ul {
  display: inline-block;
  float: left;
  list-style: none;
}
#eduwork > ul > li {
  position: relative;
  padding-bottom: 50px;
  padding-left: 50px;
  display: block;
}
#eduwork ul .event {
  border-left: 2px solid black;
}
#eduwork ul .event:last-child {
  padding-bottom: 20px;
  border-left-style: dashed;
  height: 129px;
}
#eduwork ul .event::before {
  content: "\b7";
  font-size: 150px;
  position: absolute;
  top: -91px;
  left: -18px;
}
#eduwork ul .event .title {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
#eduwork ul .event .date {
  color: #b7b7b7;
  font-style: italic;
  text-align: right;
  position: absolute;
  left: calc(100% - 293px);
  top: 0;
  display: block;
  width: 125px;
}
#eduwork ul .event .title a {
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
#eduwork ul .event .title a:hover {
  text-decoration: underline;
}
#eduwork ul .event .title a:visited {
  color: inherit;
}
#eduwork #timeline .desc {
  display: block;
  color: #8a8a8a;
}
#eduwork #timeline .event.event-intern img {
  position: absolute;
  top: 3%;
  right: 25px;
  height: 100px;
  width: 100px;
}
#eduwork #timeline .event:last-child img {
  height: 120px;
}
#eduwork #timeline .event.event-intern .desc {
  width: calc(100% - 165px);
  line-height: 30px;
}
