#eduwork > ul {
  display: inline-block;
  float: left;
  list-style: none;
}
#eduwork > ul > li {
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
  padding-left: 50px;
  display: block;
}
#eduwork #timeline li {
  margin-left: 30px;
  width: 80%;
}
#eduwork #timeline li::before {
  content: "\b7";
  font-size: 100px;
  position: absolute;
  left: -30px;
  top: -58px;
}
