#eduwork > ul {
  display: inline-block;
  float: left;
  list-style: none;
}
#eduwork > ul > li {
  position: relative;
  padding-bottom: 50px;
  padding-left: 50px;
  display: block;
}
#eduwork ul .event {
  border-left: 2px solid black;
}
#eduwork ul .event:last-child {
  padding-bottom: 20px;
  border-left-style: dashed;
}
#eduwork ul .event::before {
  content: "\b7";
  font-size: 150px;
  position: absolute;
  top: -91px;
  left: -18px;
}
#eduwork ul .event .title {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
#eduwork #timeline .desc {
  display: block;
}
#eduwork #timeline .event.event-intern img {
  position: absolute;
  top: 3%;
  right: 25px;
  height: 200px;
  width: 200px;
}
#eduwork #timeline .event.event-intern .desc {
  width: calc(100% - 267px);
  line-height: 30px;
}
